
.alert {
  padding: 5px ;
  margin-bottom: 5px ;
  border: 1px solid transparent;
  border-radius: 1px;
  width: 500px !important;
}

 select {
    
    width: 265px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    
    height: 30px;
  
    width: 265px;
}


.slides-show{
	width: 100px;
	height: 100px;
	padding-top: 30px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
    box-shadow: 10px;
    border-radius: 20px;
}